<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Application properties -->
    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name"/>
    
	<property name="LOG_PATH" value="logs" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
    <appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/logstash/tiks.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/logstash/tiks.%d{dd-MM-yyyy}.%i.log.zip</fileNamePattern>
            <maxHistory>60</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    
    <root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
    
    <logger name="MONITORING" level="INFO" additivity="false">
        <appender-ref ref="LOGSTASH"/>
    </logger>

</configuration>